{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<-EOF
brew "bat"
brew "fzf"
brew "git-delta"
brew "mas"

cask "1password"
cask "dash"
cask "discord"
cask "iterm2"
cask "raycast"
cask "spotify"
cask "tweetbot"

mas "Craft", id: 1487937127
mas "Fantastical", id: 975937182
mas "Reeder", id: 1529448980
EOF

# Setup fzf completions and shortcuts
$(brew --prefix)/opt/fzf/install --no-bash --no-fish --all

# Install vim-plug for managing vim plugins
curl -fLo ~/.vim/autoload/plug.vim --create-dirs \
    https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
{{ end -}}
