{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<-EOF
brew "fzf"
brew "mas"

cask "1password"
cask "dash"
cask "discord"
cask "iterm2"
cask "raycast"
cask "spotify"
cask "tweetbot"

mas "Craft", id: 1487937127
mas "Fantastical", id: 975937182
mas "Reeder", id: 1529448980
EOF
{{ end -}}
