{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

# ~/.Brewfile hash: {{ include "dot_Brewfile" | sha256sum }}
brew bundle install --global --no-lock

# Setup fzf completions and shortcuts
$(brew --prefix)/opt/fzf/install --no-bash --no-fish --all

# Install vim-plug for managing vim plugins
curl -fLo ~/.vim/autoload/plug.vim --create-dirs \
    https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
{{ end -}}
